# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment
.env
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
